.app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app-show{
  width: 100%;
  flex: 1;
  overflow: scroll;
}
.btns{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #F8F9FB;
}
.btns>a{
  display: inline-block;

}
.btns>a>span{
  text-align: center;
  display: block;
  color: rgb(61, 61, 61);
}
.iconfont{
  font-size: 25px;
}

.btns>.active>span{
  color: orange;
}
